#fundosection1 {
    width: 1366px;
    height: 500px; 
    background-color: greenyellow;
    background-image: url('../imagens/fazenda.jpg');
    background-position-y: bottom;
}

.metadesection1 {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;    
}

.botaosection1 {
    width: 250px;
}

.ps1 {
    font-size: 35pt;
    font-family: Arial;
    color: white;
    font-weight: 600;
}